<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waypoint Crucible Lobby</title>
</head>
<body>

<h1>Lobby</h1>

{{#each players}}
    <h3>{{name}}: {{wins}} - {{losses}}</h3>
{{/each}}

<a href='{{ server.info.uri }}/crucible/api/init'>create match</a>

{{#each matches}}
    <h3>{{name}} : {{ winner.name }} won</h3>
    <a href='{{ server.info.uri }}/match/{{ id }}'>details</a>
{{/each}}

</body>
</html>
